.grid-container {
  display: grid;
  grid-template-areas:
    "header header header header"
    "one one two two"
    "three three three three";

  grid-gap: 10px;
  background-color: lightgray;
  padding: 1%;
  font-family: "New Tegomin", "serif";
}

.header {
  grid-area: header;
  background-color: #212529 !important;

  margin: 1%;
}
.item1 {
  grid-area: one;
  background-color: #212529 !important;
  border-radius: 2%;
  margin: 1%;
}
.item2 {
  grid-area: two;
  background-color: #212529 !important;
  border-radius: 2%;
  margin: 1%;
}
.item3 {
  grid-area: three;
  background-color: #212529 !important;
  border-radius: 2%;
  margin: 1%;
}

/* .item4 {
  grid-area: four;
  background-color: #212529 !important;
  border-radius: 2%;
  margin: 1%;
} */

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: lightgray;
}

.wolf {
  width: 15%;
  border-radius: 5%;
}
.card {
  background-color: #212529 !important;
}

.card-img-top {
  align-self: center;
}

.card-body {
  align-self: center;
}

.navbar-nav.me-auto.mb-2.mb-lg-0 {
  margin-left: 60%;
}

h3,
h5,
p {
  color: lightgrey;
}
